{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Tests Plateforme{% endblock %}</title>

  {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  {% endblock %}
</head>

<body>
  <div class="container">
    <div id="header" class="jumbotron">
      <h3>OpenClassroom Symfony</h3>
      <p>
        Mon projet tests (Template général)
      </p>
      <p>
        <a class="btn btn-primary btn-lg" href="https://www.google.fr/search?q=symfony" target="_blank">
          Aide Symfony ?
        </a>
        <a class="btn btn-info btn-lg" href="https://www.google.fr/search?q=bootstrap+3" target="_blank">
          Aide Bootstrap ?
        </a>
      </p>
    </div>

    <div class="row">
      <div id="menu" class="col-md-3">
        <h3><a href="{{ path('core_homepage') }} ">Accueil</a></h3>

        <h3><a href="{{ path('tests_platform') }} ">Les annonces</a></h3>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ path('tests_platform') }}">Accueil annonces</a></li>
          <li><a href="{{ path('tests_platform_add') }}">Ajouter une annonce</a></li>
        </ul>

        <h3> <a href="# ">Dernières annonces</a></h3>
        {{ render(controller("TestsPlatformBundle:Advert:menu", {'limit': 3})) }}
        <h3><a href="{{ path('core_contact') }} ">Nous contacter</a></h3>
      </div>
      <div id="content" class="col-md-9">
        {% block body %}
        {# Ici sera mis le contenu qu'on aimerait afficher dans le corp de la page #}
        {% endblock %}
      </div>
    </div>

    <hr>

    <footer>
      <p>ThnXX OpenClassroom {{ 'now'|date('Y') }} - {{ webmaster }} - <a href="mailto:{{ webmaster_email }}?Subject=Contact%20from%20Symfony%20tests" target="_top">{{ webmaster_email }}</a></p>
    </footer>
  </div>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock %}

</body>
</html>