{# src/Tests/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "TestsPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block testsplatform_body %}

  <h4>Liste des annonces (Template action)</h4>

  <ul>
    {% for advert in listAdverts %}
      <li>
        <a href="{{ path('tests_platform_view', {'id': advert.id}) }}">
          {{ advert.title }}
        </a>
        par {{ advert.author }},
        le {{ advert.date|date('d/m/Y') }}
      </li>
    {% else %}
      <li>Pas d'annonces</li>
    {% endfor %}
  </ul>

{% endblock %}