<!DOCTYPE html>
<html>
  <head>
    <title>Affichage de l'annonce {{ id }}</title>
  </head>
  <body>
    <h3>Annonce numéro :{{ id }} </h3>
    <p>Date d'aujourd'hui : {{ "now"|date('d/m/Y à H:i:s') }}</p>
    {% set tab = [1,3,5,7,9] %}
    {% for element in tab %}
        {{ element }}
    {% endfor %}
  </body>
  <footer>Responsable du site : {{ webmaster }} - <a href="mailto:{{ webmaster_email }}?Subject=Contact from Symfony Test" target="_top">Envoyer un mail</a></footer>
</html>